@*@model List<Employee>*@ <!--هاد بساعدني بالاختصار في الكتابة , وين ما اعمل دوت بجيني الخصائص والاتربيوت الي اله-->

@model IEnumerable<Employee> // use in Razor page frequently , this is the difference between it and List

@{
    ViewData["Title"] = "Index";
}

<a href="/Employees/Create" class="btn btn-outline-success"> New </a>
<h1>All Employees</h1>
<table class="table">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(emp=>emp.Id)</td>
            <td>@Html.DisplayNameFor(emp => emp.Name)</td> <!-- هناك Display لل  Data Annotaion وبتشوف اذا انا عامل  Name على خاصية  Employee بتروح على كلاس -->
            <td>@Html.DisplayNameFor(emp => emp.Email)</td>
            <td>@Html.DisplayNameFor(emp => emp.Password)</td>
            <td>Action</td>
            
            <!-- OR :
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Password</td>
			<td>Action</td>
            -->
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model) @* Model : ثابتة دائما *@
        {  
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>
                    <a asp-controller="Employees" asp-action="Delete" asp-route-id="@item.Id">Delete</a> <!-- asp-route-soso => في الاندكس لازم يكون الباراميتر سوسو كمان -->
				     <!-- OR:  <td><a href="/Employees/Delete/at item.Id">Delete</a></td>-->
				    <a asp-controller="Employees" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                    <!-- (مش رح نشتغل فيها) HTML Helper =>  @*@Html.ActionLink("Employee","Edit",class="btn btn-primary");*@-->
                </td>

            </tr>
            
        }
        

        <!-- here's the data in DB we're looping in foreach
        <tr>
            <td>1</td>
            <td>Amjad</td>
            <td>amjad@gmail.com</td>
            <td>123</td>
        </tr>
        
        <tr>
            <td>2</td>
            <td>Tariq</td>
            <td>tariq@gmail.com</td>
            <td>123</td>
		</tr>
        -->
    </tbody>
</table>
